@using Microsoft.JSInterop
@inject IDraggableElementJsInterop draggableElementJsInterop
<div class="draggable-element @Class" style="@Style" @ref="draggableElementReference">
    @ElementContent
</div>


